*~
*.o
Makefile
autom4te.cache
config.h
config.log
config.status
configure
doc/Makefile
fcron
fcrondyn
fcrontab
fcronsighup
files/fcron.conf
convert-fcrontab
doc/stylesheets/fcron-doc.dsl
MANIFEST
VERSION
PREVIOUS_VERSION
doc/en/HTML/*
doc/en/man/*
doc/en/txt/*
doc/fr/HTML/*
doc/fr/man/*
doc/fr/txt/*

