*~
*.o
Makefile
autom4te.cache
config.h
config.log
config.status
configure
aclocal.m4
doc/Makefile
fcron
fcrondyn
fcrontab
fcronsighup
files/fcron.conf
convert-fcrontab
doc/stylesheets/fcron-doc.dsl
doc/fcron-doc.mod
MANIFEST
VERSION
PREVIOUS_VERSION
doc/en/HTML/*
doc/en/man/*
doc/en/txt/*
doc/fr/HTML/*
doc/fr/man/*
doc/fr/txt/*
configure
tests/*_test
debug/
