*~
*.o
Makefile
autom4te.cache
config.h
config.log
config.status
doc/Makefile
fcron
fcrondyn
fcrontab
fcronsighup
files/fcron.conf
convert-fcrontab
doc/stylesheets/fcron-doc.dsl
PREVIOUS_VERSION
doc/fcron-doc.mod
exe_list_test
doc/en/HTML/
doc/en/man/
doc/en/txt/
doc/fr/HTML/
doc/fr/man/
doc/fr/txt/

